<!-- footer -->

  <div class="footer">
      <div class="wrapper clarfix">
          <div class="footer__left">
              <nav id="menu-fullpage" class="nav-menu footer__nav-menu">
                  <a class="nav-menu__link active nav-menu__link_first" data-menuanchor="section-1" href="#section-1">Главная</a>
                  <a class="nav-menu__link" data-menuanchor="section-2" href="#section-2">О сервисе</a>
                  <a class="nav-menu__link" data-menuanchor="section-3" href="#section-3">Приемущества</a>
                  <a class="nav-menu__link" data-menuanchor="section-4" href="#section-4">Нам доверяют</a>
                  <a class="nav-menu__link" data-menuanchor="section-5" href="#section-5">Тарифы</a>
              </nav>
          </div>
          <div class="footer__right">
              <ul class="nav-details">
                  <li class="nav-details__item">e-mail: info@upacknet.ru</li>
                  <li class="nav-details__item">skype: upacknet</li>
                  <li class="nav-details__item"><span class="icon-lines"></span></li>
              </ul>
          </div>
      </div>
  </div>


  <script src="js/jquery.min.js"></script>
  <!--<script src="js/effect.js"></script>-->
  <script src="js/fullpage/jquery.fullpage.extensions.min.js"></script>
  <script src="js/script.js"></script>

</body>
</html>
