<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>INDEX</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <!--style loader-->
    <style>
        .loader-box {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background-color: #fff;
            z-index: 999999;
        }
        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -32px 0 0 -32px;
            fill: #4D739F;
        }
    </style><!-- end style loader -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700%7CRoboto:300,400,500,700&amp;subset=cyrillic">
    <link rel="stylesheet" href="js/fullpage/jquery.fullpage.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- window loader -->
<div class="loader-box">
    <img class="loader" src="images/loading.svg" alt="loader">
</div><!-- END window loader -->


<div class="header">
    <div class="wrapper clarfix">
        <div class="logo header__logo">
            <a class="logo__link js-btn-up" href="javascript: void(0);">
                <img class="logo__img" src="images/logo.svg" alt="logo">
            </a>
        </div>
        <div class="tagline header__tagline tagline_line">
            Цифры и аналитика для верных решений!
        </div>
        <div class="registration header__registration">
            <a class="btn btn_theme_blue btn_size_m registration__btn" href="javascript: void(0);">Получить доступ</a>
            <a class="btn btn_theme_hover-white" href="javascript: void(0);">Войти</a>
        </div>
    </div>
</div>

<div id="callbacks-placeholder" style="position: fixed; z-index: 99999;"></div>







<!-- END head -->





